# general Python build files
__pycache__/*
*.pyc
*.egg-info/

# IDE project directories
/.idea/

# MLflow output
/mlruns/*
/examples/jupyter-notebooks/mlruns/*

# Jupyter notebook cache files
.ipynb_checkpoints/
/.pytest_cache/
